<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "style.css" %}>
    <title>Document</title>
</head>
<body>
    <h2>Your Gold: {{ request.session.gold }}</h2>

    <form action="/process" method="POST">
        {% csrf_token %}
        <H3>Farm</H3>
        <input type="hidden" name="form" value="farm">
        <button type="submit">Find Gold!</button>
    </form>

    <form action="/process" method="POST">
        {% csrf_token %}
        <H3>Cave</H3>
        <input type="hidden" name="form" value="cave">
        <button type="submit">Find Gold!</button>
    </form>

    <form action="/process" method="POST">
        {% csrf_token %}
        <H3>House</H3>
        <input type="hidden" name="form" value="house">
        <button type="submit">Find Gold!</button>
    </form>

    <form action="/process" method="POST">
        {% csrf_token %}
        <H3>Casino</H3>
        <input type="hidden" name="form" value="casino">
        <button type="submit">Find Gold!</button>
    </form>

    <a href="/clear"><button>Clear</button></a>

    <div>
        {% for i in request.session.log %}
        <p>You received {{i}} gold.</p>
        {% endfor %}
    </div>

</body>
</html>