#wrapper {
    margin-left: 250px;
    width: 600px;
}

table {
    width: 500px;
    text-align: left;
    margin-left: 50px;
}

div {
    display: inline-block;
    margin: 0px 0px 20px 70px;
}

h1 {
    text-align: center;
}

button {
    margin-left: 250px;
    margin-top: 20px;
}